src/conf/xml-resources/web-service-references/GestorWS/wsdl/localhost_8080/TesisMaestria/GestorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="GestorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/TesisMaestria/GestorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="getAllDepartments">
<part name="parameters" element="tns:getAllDepartments"/>
</message>
<message name="getAllDepartmentsResponse">
<part name="parameters" element="tns:getAllDepartmentsResponse"/>
</message>
<message name="getMunipsById">
<part name="parameters" element="tns:getMunipsById"/>
</message>
<message name="getMunipsByIdResponse">
<part name="parameters" element="tns:getMunipsByIdResponse"/>
</message>
<message name="getAllAsistanceByAsignature">
<part name="parameters" element="tns:getAllAsistanceByAsignature"/>
</message>
<message name="getAllAsistanceByAsignatureResponse">
<part name="parameters" element="tns:getAllAsistanceByAsignatureResponse"/>
</message>
<portType name="GestorWS">
<operation name="loginUser">
<input wsam:Action="http://Services/GestorWS/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://Services/GestorWS/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="getAllDepartments">
<input wsam:Action="http://Services/GestorWS/getAllDepartmentsRequest" message="tns:getAllDepartments"/>
<output wsam:Action="http://Services/GestorWS/getAllDepartmentsResponse" message="tns:getAllDepartmentsResponse"/>
</operation>
<operation name="getMunipsById">
<input wsam:Action="http://Services/GestorWS/getMunipsByIdRequest" message="tns:getMunipsById"/>
<output wsam:Action="http://Services/GestorWS/getMunipsByIdResponse" message="tns:getMunipsByIdResponse"/>
</operation>
<operation name="getAllAsistanceByAsignature">
<input wsam:Action="http://Services/GestorWS/getAllAsistanceByAsignatureRequest" message="tns:getAllAsistanceByAsignature"/>
<output wsam:Action="http://Services/GestorWS/getAllAsistanceByAsignatureResponse" message="tns:getAllAsistanceByAsignatureResponse"/>
</operation>
</portType>
<binding name="GestorWSPortBinding" type="tns:GestorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDepartments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMunipsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAsistanceByAsignature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestorWS">
<port name="GestorWSPort" binding="tns:GestorWSPortBinding">
<soap:address location="http://localhost:8080/TesisMaestria/GestorWS"/>
</port>
</service>
</definitions>